import(flowCore)

importClassesFrom(methods,
                  character,
                  list,
                  numeric)

importMethodsFrom(flowViz,
                  addName,
                  contour,
                  densityplot,
                  flowPlot,
                  glpolygon,
                  xyplot)

importFrom(Biobase,
           openVignette,
           listLen)

importFrom(KernSmooth,
           bkde2D)

importFrom(MASS,
           hubers)

importFrom(fda, create.bspline.basis, Data2fd, eval.fd, fdPar,
           landmarkreg)

importFrom(grDevices,
           chull,
           col2rgb,
           contourLines,
           dev.cur,
           dev.new,
           dev.off,
           png,
           rgb,
           x11)

importFrom(graphics,
           abline,
           legend,
           lines,
           par,
           polygon,
	   plot,
           rect,
           text)

importFrom(lattice, make.groups, panel.abline, panel.number,
           panel.points, panel.polygon, panel.segments,
           panel.stripplot, panel.text, stripplot, trellis.par.get,
           which.packet, xyplot)

importFrom(methods,
           "@<-",
           as,
           is,
           new)

importFrom(stats,
           anova,
           approxfun,
           chisq.test,
           cutree,
           density,
           kmeans,
           mad,
           median,
           optimize,
           quantile,
           var)

importFrom(utils,
           capture.output)

export("lymphGate",
       "lymphFilter",
       "oneDGate",
       "quadrantGate",
       "rangeGate",
       "rangeFilter",
       "warpSet",
       "proBin",
       "binByRef",
       "gaussNorm",
       "plotBins",
       "calcPearsonChi",
       "calcPBChiSquare",
       "gpaSet",
       "iProcrustes",
       "normQA")

exportClasses("lymphFilter","rangeFilter")



exportMethods("%in%")
