import("flowCore")

export("lymphGate",
       "lymphFilter",
       "oneDGate",
       "quadrantGate",
       "rangeGate",
       "warpSet",
       "proBin",
       "binByRef",
       "plotBins",
       "calcPearsonChi",
       "calcPBChiSquare")

exportClasses("lymphFilter")

exportMethods("%in%")
