import("flowCore")

export("lymphGate",
       "lymphFilter",
       "oneDGate",
       "quadrantGate",
       "rangeGate",
       "warpSet",
       "proBin",
       "binByRef")

exportClasses("lymphFilter")

exportMethods("%in%")
